

*{
	box-sizing: border-box;
	min-width: 0px;
	min-height: 0px;
}

body{
	background-color: #0a0c10;
	color: #ffffff;
	margin: 0px;
}

.row{
	display: flex;
	flex-flow: row;
	align-items: stretch;
	margin: 0px;
}

.logo{
	flex: 0 8 157.333px;
}

.header{
	background-color: #D42A2A;
	padding: 0px;
	height: 59.5px;
	align-items: flex-end;
	flex: 4 4 auto;
}

.header.margin{
	max-width: 100px;
	flex: 1 6 auto;
}

.header-element{
	background-color: #D42A2A;
	border: none;
	color: #ffffff;
	padding: 6.5px 0px;
	width: auto;
	text-align: center;
	margin: 0px;
	font-family: consolas;
	font-size: 1rem;
	font-weight: 500;
	flex: 2 8 auto;
	max-width: 160px;
}

.button{
	cursor: pointer;
}

.button.side-nav{
	margin-left: auto;
	align-self: center;
	padding: 10px 10px;
}

.button:hover{
	background-color: #c02626;
}

.button.side-nav:hover{
	background-color: transparent;
	opacity: 70%;
}

.button.active{
    color: #ffffff;
    background-color: #951d1d;
    border-bottom: 3px solid #2AD4D4;
    padding-bottom: 3.5px;
}

@media (max-aspect-ratio: 6/7) {
	.header{
		width: auto;
		height: 59.6px;
	}
	.header.margin{
		max-width: 50px;
		flex: 1 8 auto;
	}
	.header-element{
		display: none;
	}
	.button.active{
		border-width: 0px;
	}
}