
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

:root {
    --black-0: rgb(8, 15, 27);
	--black-1: rgb(12, 18, 31);
    --white-0: #fff;
    --yellow-0: #ffe15b;
	--orange-0: #ff7c25;
	--red-0: #dd4343;
	--red-1: rgb(255, 41, 41);
	--green-0: #9ecc4f;
	--violet-0: #aa99c9;
	--blue-0: #1679cf;
	--beige-0: #ffedc5;
	--dgray-1: #333;
	--dgray-2: #222;
	--dgray-3: #444;
	--mgray-1: #474747;
	--mgray-2: #666;
	--mgray-3: #555;
	--mgray-4: #858585;
	--lgray-1: #999;
	--lgray-2: #aaa;
	--lgray-3: #ccc;
	--lgray-4: #eee;
	--lgray-5: #979797;
}

/*---------------------------------------------------------Default Elements---------------------------------------------------------*/

*{
    box-sizing: border-box;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	margin: 0;
	font-size: 14px;
	background-color: var(--black-1);
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--black-0);
	cursor: pointer;
}

input, button {
	font-family: "Roboto", Arial, sans-serif;
}

input:focus {
	outline: none;
}

button {
	cursor: pointer;
}

p, h1, h2, h3, h4 {
	margin: 0;
}

main {
	position: relative;
}

/*---------------------------------------------------------General Classes---------------------------------------------------------*/

/*Objects*/
.canvas {
    position: relative;

}

.placeable {
    position: absolute;
}

.triangle {
	width: 0;
 	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid var(--lgray-5);
}

.polygon {
	width: 0;
	height: 0;
}

/*Properites*/
.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-ms-user-drag: none;
	user-select: none;
	-webkit-user-drag: none;
	pointer-events: none;
}

/*---------------------------------------------------------Specific Classes---------------------------------------------------------*/



/*---------------------------------------------------------Specific Identities---------------------------------------------------------*/

/*-----------Debug Menu-------------*/
#debug-menu {
	margin: 20px;
	position: absolute;
	z-index: 1;
	padding: 30px;
	font-size: 20px;
	text-align: center;
}

#debug-menu *:hover {
	transform: scale(120%);
	font-weight: 900;
}

#button_reset {
	padding: 5px;
	margin: 15px;
	font-weight: 900;
	background-color: var(--red-0);
}

#button_reset a {
	color: var(--white-0);
}

/*-----------Start Screen Elements-------------*/

#background {
	width: 100vw;
	height:100vh;
	perspective: 1500px;
  	perspective-origin: 50% 50%;
}

#stage {
	transform: scale(1);
}

#start {
	z-index: 2;
	top: 100px;
	right: 864px;
	background-color: var(--orange-0);
	width: 200px;
	height: 200px;
	filter: saturate(75%);
	transform-origin: 175% 100%;
	color: var(--white-0);
	font-family: Bitter;
	font-size: 75px;
	font-weight: 800;
	text-align: center;
}

#start_text {
	transform: rotate(90deg);
	color: var(--orange-0);
}

#doorframe {
	top: 150px;
	left: 314px;
	background-color: var(--orange-0);
	width: 400px;
	height: 800px;
	background-color: transparent;
	border: 5px dashed var(--white-0);
	transform-origin: center;
	color: var(--white-0);
	font-family: Bitter;
	font-size: 75px;
	font-weight: 800;
	text-align: center;
	transform-style: preserve-3d;
}

#door {
	background-color: var(--orange-0);
	top: 150px;
	left: 314px;
	width: 400px;
	height: 800px;
	background-color: transparent;
	border: 5px dashed var(--white-0);
	transform-origin: center;
	color: var(--white-0);
	font-family: Bitter;
	font-size: 75px;
	font-weight: 800;
	text-align: center;
	transform-style: preserve-3d;
}

/*---------------------------------------------------------Animations---------------------------------------------------------*/

.vibrate {
	animation: vibrate 0.7s linear infinite;
}

@keyframes vibrate {
	0%{transform: translate3d(0,0,0)}
	10%{transform: translate3d(2px,0,1px)}
	20%{transform: translate3d(0,1px,0)}
	30%{transform: translate3d(-1px,0,2px)}
	40%{transform: translate3d(0,1px,0)}
	50%{transform: translate3d(1px,2px,1px)}
	60%{transform: translate3d(2px,1px,0)}
	70%{transform: translate3d(-1px,0,-1px)}
	80%{transform: translate3d(-1px,2px,-1px)}
	90%{transform: translate3d(-2px,0,-1px)}
	100%{transform: translate3d(0,0,0)}
}

.paperfall {
	animation: paperfall 10s steps(15) forwards;
}

@keyframes paperfall {
	0% {transform: rotate3d(4,2,3,0deg);}
	20% {transform: rotate3d(4,2,3,-145deg) translate3d(0px,100px,400px) scale(120%,140%);}
	40% {transform: rotate3d(4,2,3,-40deg) translate3d(0px,200px, 200px) scale(140%, 200%);}
	60% {transform: rotate3d(4,2,3,-225deg) translate3d(0px,400px,400px) scale(150%, 300%);}
	80% {transform: rotate3d(4,2,3,-360deg) translate3d(0px,800px,400px) scale(200%, 425%);}
	85% {transform: rotate3d(4,2,3,-360deg) translate3d(0px,800px,400px) scale(200%, 425%);}
	100% {transform: rotate3d(4,2,3,-360deg) translate3d(0px,650px,400px) scale(200%, 425%);}
}

.dooropen {
	animation: dooropen 3s steps(10) forwards;
}

@keyframes dooropen{
	0% {background-color: var(--orange-0); transform-origin: left; transform: rotate3d(0,1,0,0deg); 
		filter: saturate(75%); border: 0px;}
	100% {transform-origin: left; transform: rotate3d(0,1,0,-100deg); filter: saturate(75%);}
}

.textspasm {
	animation: textspasm 5s steps(15) forwards;
}

@keyframes textspasm {
	0% {transform: rotate3d(4,2,3,90deg); mix-blend-mode: difference;}
	25% {transform: rotate3d(4,2,3,-140deg) translate3d(0px,100px,400px) scale(120%,110%);}
	50% {transform: rotate3d(4,2,3,0deg) translate3d(0px,200px, 200px) scale(150%, 150%);}
	75% {transform: rotate3d(4,2,3,-140deg) translate3d(0px,400px,400px) scale(150%, 160%);}
	100% {transform: rotate3d(4,2,3,0deg) translate3d(0px,800px,600px) scale(200%, 220%); visibility: hidden;}
}

.stagezoom {
	animation: stagezoom 8s ease forwards;
}

@keyframes stagezoom {
	0% {transform: scale(1);}
	100% {transform: scale(0.3);}
}